			<section id="projects">
				<div class="page-header">
					<h1>Projects <small>The result of tireless hours of work</small></h1>
				</div>
	      <div class="subnav">
	        <ul class="nav nav-pills">
	          <li><a href="#goalbook">Goalbook</a></li>
	          <li><a href="#peakasso">Peakasso</a></li>
	          <li><a href="#wearetwl">We Are TWL</a></li>
	          <li><a href="#paatle">Paatle</a></li>
	          <li><a href="#exact">E-xact</a></li>
	          <li><a href="#hco">HCO Mobile</a></li>
	          <li><a href="#spidart">Spidart</a></li>
	          <li><a href="#teleobs">TéléObs</a></li>
	        </ul>
	      </div>
		<div class="row-fluid">
		  <div class="span9">
			  <a name="goalbook"></a>
			  <h3>Goalbook</h3><br />
				<p>
					Goalbook helps teams of educators, students, and parents collaborate around personal learning plans.
				</p>
				<p>Goalbook helps special educators track IEP goals and share progress with the team. Administrators view reports in real-time to ensure that all student receive educational benefit.</p>
				<p>Group students into tiers and set individual student goals. Intervention teams can collaboratively record progress and evaluate effectiveness of interventions.</p>
				<p>Set online learning goals for students and track progress. Educators know what students are working on in lab and can celebrate accomplishments or review areas of difficulty.</p>
				<p>Give every student ownership of their own personal learning plan. Students can develop their own goals, self-track progress, and collaborate with their teachers and parents every step along the way.</p>
		  </div>
		  <div class="span3">
				<div class="alert alert-info">
					<h3>Project Details</h3><br />
					<ul class="details">
						<li><i class="icon-map-marker"></i> Palo Alto, CA</li>
						<li><i class="icon-play"></i> March '12</li>
						<li><i class="icon-user"></i> Myself</li>
						<li><i class="icon-search"></i> <%= link_to 'goalbookapp.com', 'http://goalbookapp.com/' %></li>
						<li><i class="icon-cog"></i> Ruby on Rails 3.2</li>
					</ul>
				</div>
			</div>
		</div>
		<hr /><br />
		<div class="row-fluid">
		  <div class="span3">
				<div class="alert alert-info">
					<h3>Project Details</h3><br />
					<ul class="details">
						<li><i class="icon-map-marker"></i> Lyon, FR</li>
						<li><i class="icon-play"></i> June '09</li>
						<li><i class="icon-user"></i> 3 Developers</li>
						<li><i class="icon-search"></i> <%= link_to 'peakasso.com', 'http://peakasso.com/' %></li>
						<li><i class="icon-picture"></i> <%= link_to 'Screenshots', 'http://www.spidart.com/' %></li>
						<li><i class="icon-cog"></i> Ruby on Rails</li>
					</ul>
				</div>
			</div>
		  <div class="span9">
			  <a name="peakasso"></a>
			  <h3>Peakasso</h3>
				<br />
				<p>
					Peakasso is an easy-to-use interface for handling your NGO. Developed in 2009, Peakasso is helping NGOs from all over the world to easily manage their members, handle monthly or yearly dues, send group emails, etc… Peakasso offers different plans depending on the size of the NGO, one of them being free.
				</p>
		  </div>
		</div>
		<hr /><br />
		<div class="row-fluid">
		  <div class="span9">
			  <a name="wearetwl"></a>
			  <h3>We are TWL</h3>
			  <br />
				<p>
				Founded in January 2010 by Nick Quine &amp; Tristan David, TWL aims to promote up and coming artists. Nick and Tristan needed a platform to easily distribute the work of artists, all the while conserving their very sober black and white approach.<br />
				I came up with a simple platform including an easy-to-use backend to handle orders, products, different artists and pieces.<br />
				All TWL's digital prints are printed on high quality digital paper. Film prints are hand printed by the artists on high grade fiber paper rich in silver halides. Every print meets archival standards; lasting up to 100 years if conserved properly.
				</p>
		  </div>
		  <div class="span3">
				<div class="alert alert-info">
					<h3>Project Details</h3><br />
					<ul class="details">
						<li><i class="icon-map-marker"></i> Paris, FR</li>
						<li><i class="icon-play"></i> December '10</li>
						<li><i class="icon-user"></i> Myself</li>
						<li><i class="icon-picture"></i> <%= link_to 'Screenshots', 'http://www.flickr.com/photos/clabesse/sets/72157625917288751/' %></li>
						<li><i class="icon-cog"></i> Ruby on Rails 3</li>
					</ul>
				</div>
			</div>
		</div>
		<div class="page-header">
			<h2>Past Projects</h2>
		</div>
		<div class="row-fluid">
		  <div class="span3">
				<div class="alert alert-info">
					<h3>Project Details</h3><br />
					<ul class="details">
						<li><i class="icon-map-marker"></i> Zürich, CH</li>
						<li><i class="icon-play"></i> April '11</li>
						<li><i class="icon-stop"></i> March '12</li>
						<li><i class="icon-user"></i> 2 Developers</li>
						<li><i class="icon-search"></i> <%= link_to 'paatle.com', 'http://paatle.com/' %></li>
						<li><i class="icon-cog"></i> Ruby on Rails 3</li>
					</ul>
				</div>
			</div>
		  <div class="span9">
			  <a name="paatle"></a>
			  <h3>Paatle</h3><br />
				<p>
					Paatle is the world’s first web platform that enables you to list, manage, and trade real estate globally. Paatle equips users with sophisticated tools to help you expand your real estate reach and enhance your online presence.
					No matter where you live, Paatle will be your ticket to connecting your properties to real estate markets around the globe!
				</p>
		  </div>
		</div>
		<hr /><br />
		<div class="row-fluid">
		  <div class="span9">
			  <a name="exact"></a>
			  <h3>E-xact Transactions</h3><br />
				<p>
					E-xact Transactions has been delivering on merchant satisfaction for over 10 years – and they’re not done yet. Where there’s a need for fast, protected transaction processing and easy answers they make it happen. Their range of products offer an easy integration of a complete payment solution to your merchant website.
				</p>
		  </div>
		  <div class="span3">
				<div class="alert alert-info">
					<h3>Project Details</h3><br />
					<ul class="details">
						<li><i class="icon-map-marker"></i> Vancouver, BC</li>
						<li><i class="icon-play"></i> October '09</li>
						<li><i class="icon-stop"></i> March '11</li>
						<li><i class="icon-user"></i> 5 Developers</li>
						<li><i class="icon-search"></i> <%= link_to 'e-xact.com', 'http://www.e-xact.com/' %></li>
						<li><i class="icon-search"></i> <%= link_to 'hostedcheckout.com', 'http://www.hostedcheckout.com/' %></li>
						<li><i class="icon-picture"></i> <%= link_to 'Screenshots', 'http://www.flickr.com/photos/clabesse/sets/72157625917290609/' %></li>
						<li><i class="icon-cog"></i> Ruby on Rails 2.2</li>
					</ul>
				</div>
			</div>
		</div>
		<hr /><br />
		<div class="row-fluid">
		  <div class="span3">
				<div class="alert alert-info">
					<h3>Project Details</h3><br />
					<ul class="details">
						<li><i class="icon-map-marker"></i> Vancouver, BC</li>
						<li><i class="icon-play"></i> December '09</li>
						<li><i class="icon-stop"></i> March '11</li>
						<li><i class="icon-user"></i> 2 Developers</li>
						<li><i class="icon-search"></i> <%= link_to 'hostedcheckout.com', 'http://www.hostecheckout.com/' %></li>
						<li><i class="icon-search"></i> <%= link_to 'AppStore', 'http://itunes.apple.com/app/hosted-checkout-mobile/id368991646?mt=8' %></li>
						<li><i class="icon-picture"></i> <%= link_to 'Screenshots', 'http://www.flickr.com/photos/clabesse/sets/72157626042696492/' %></li>
						<li><i class="icon-cog"></i> Ruby on Rails</li>
					</ul>
				</div>
			</div>
		  <div class="span9">
			  <a name="hco"></a>
			  <h3>HCO Mobile</h3><br />
				<p>
					HCO Mobile is an iOS application that acts as a virtual point-of-sale. Using an optional card swiper, or simply by entering the cardholder information manually, credit card transactions are processed through the E-xact gateway. The demo mode makes it easy to get a quick hold of how convenient HCO Mobile is to use.
				</p>
		  </div>
		</div>
		<hr /><br />
		<div class="row-fluid">
		  <div class="span9">
			  <a name="spidart"></a>
			  <h3>Spidart</h3><br />
				<p>
					Similar to <%= link_to 'Sellaband', 'http://sellaband.com/' %>, Spidart were the first to create an online community-driven music label. The goal was to remove the unnecessary expenses that a record company goes through, and therefore distribute the revenues on each album between Spidart, the artist and the fan-producers. I was asked to lead the development of the second version of the website. I was able to go from dealing with hosting companies, to creating Photoshop sprites. This project included a vast number of technologies including Nginx, Memcache, Passenger, Sphinx indexing system, Ruby on Rails, AS3/Flash, XML APIs… Unfortunately, after 2 years of existence, Spidart declared bankruptcy due to the lack of funding and strategy mistakes. The second version of Spidart, complete at the time, was never released.
				</p>
		  </div>
		  <div class="span3">
				<div class="alert alert-info">
					<h3>Project Details</h3><br />
					<ul class="details">
						<li><i class="icon-map-marker"></i> Lyon, FR</li>
						<li><i class="icon-play"></i> April '08</li>
						<li><i class="icon-stop"></i> July '09</li>
						<li><i class="icon-user"></i> 3 Developers</li>
						<li><i class="icon-picture"></i> <%= link_to 'Screenshots', 'http://www.flickr.com/photos/clabesse/sets/72157625751087819/' %></li>
						<li><i class="icon-cog"></i> Ruby on Rails 2</li>
					</ul>
				</div>
			</div>
		</div>
		<hr /><br />
		<div class="row-fluid">
		  <div class="span3">
				<div class="alert alert-info">
					<h3>Project Details</h3><br />
					<ul class="details">
						<li><i class="icon-map-marker"></i> Paris, FR</li>
						<li><i class="icon-play"></i> June '07</li>
						<li><i class="icon-stop"></i> July '07</li>
						<li><i class="icon-user"></i> Myself</li>
						<li><i class="icon-search"></i> <%= link_to 'teleobs.com', 'http://www.teleobs.com/' %></li>
						<li><i class="icon-picture"></i> <%= link_to 'Screenshots', 'http://www.flickr.com/photos/clabesse/sets/72157625917002795/' %></li>
						<li><i class="icon-cog"></i> Ruby on Rails</li>
					</ul>
				</div>
			</div>
		  <div class="span9">
			  <a name="teleobs"></a>
			  <h3>TéléObs</h3><br />
				<p>
					"Le Nouvel Observateur" is a famous french weekly newsmagazine, TéléObs being a branch of the magazine entirely dedicated to french television and its scheduling. TéléObs needed a Content Managment System to publish articles related to television, an entire backend, including user management, post categories, and other integrations. Today, TéléObs serves thousands of users a day, providing them with the latest gossip and inside views of the TV and News industry. This CMS was built using the Ruby on Rails framework, a MySQL database and hosted on a UNIX system.
				</p>
		  </div>
		</div>
</section>