	<div class="row-fluid">
	  <div class="span12">
			<section id="home">
				<div class="page-header">
					<h1>Greetings <small>I am an Expert in Ruby on Rails development</small>
	</h1>
				</div>
				<div class="row-fluid">
				  <div class="span9">
						<p>Hi! I'm Cyrille Labesse, I work and live in <%= link_to 'Berlin, Germany', 'http://en.wikipedia.org/wiki/Berlin' %>.</p>
						<p>During the past 8 years, I have been working on projects using the <%= link_to 'Ruby on Rails', 'http://www.rubyonrails.org/' %> web development framework. The framework helps you build high-end web applications or simple websites in a very agile and fast way.</p>
						<p>When I'm not behind a computer screen, I'm either mixing, cooking, drinking solid german beer, sprinting or just walking around this beautiful city.</p>
						<p>I enjoying traveling, close or far away from where I am. I also enjoy teaching what I do, last year I gave a couple RoR classes at <%= link_to  'HETIC', 'http://www.hetic.net/' %>, a Parisian IT school, and today, I am training other software developers 1-on-1 and I am mentoring 5 students through <%= link_to 'CareerFoundry', 'http://www.careerfoundry.com/' %></p>
						<p>Originally from <%= link_to 'a Parisian suburb', 'http://en.wikipedia.org/wiki/Meaux' %>, I have lived in many English-speaking countries and moved to Germany in 2012.</p>
						<div class="alert alert-block">
						  <h4 class="alert-heading">I am available to talk</h4>
						  I am always on the lookout for the next big thing, people who want to develop their RoR skills, or just awesome projects in general. Feel free to <%= link_to 'contact me', '#contact' %> if you are looking for a Rails developer (or just some advice) and I'd be glad to answer your questions.
						</div>
					</div>
					<div class="span3">
						<ul class="thumbnails">
						  <li class="span3">
						    <a href="#" class="thumbnail">
									<%= image_tag '../pic.jpg' %>
						    </a>
						  </li>
						</ul>
					</div>
			</section>
			<%# render :partial => "application/projects" %>
			<section id="contact">
				<div class="page-header">
					<h1>Contact <small>me whatever it is you have to say</small></h1>
				</div>
			  <fieldset>
			    <legend>Voice</legend>
					<p>You are also welcome to give me a call at the following numbers</p>
					<div class="row">
						<div class="span4">
							<h3>Wherever <small>Skype</small></h3>
							<a class="btn-success btn" href="callto://clabesse"><i class="icon-white icon-chevron-right"></i> clabesse</a></div>
  						<div class="span4">
  							<h3>Germany <small>Mobile</small></h3>
  							<a class="btn-success btn" href="callto://+491601838851"><i class="icon-white icon-chevron-right"></i> +49 (0) 160 183 8851</a></div>
					</div>
				</fieldset>
				<br />
			  <fieldset>
			    <legend>Social</legend>
					<br />
					<div class="row">
						<div class="span6">
							<h3>LinkedIn</h3>
<script src="//platform.linkedin.com/in.js" type="text/javascript"></script>
<script type="IN/MemberProfile" data-id="http://www.linkedin.com/in/clabesse" data-format="inline" data-related="false"></script></div>
						<div class="span6">
							<h3>Twitter</h3>
							<a href="https://twitter.com/clabesse" class="twitter-follow-button" data-show-count="false" data-size="large">Follow @clabesse</a>
							<script>!function(d,s,id){var js,fjs=d.getElementsByTagName(s)[0];if(!d.getElementById(id)){js=d.createElement(s);js.id=id;js.src="//platform.twitter.com/widgets.js";fjs.parentNode.insertBefore(js,fjs);}}(document,"script","twitter-wjs");</script>
							<br />
							<br />
						  <h3>GitHub</h3>							
						  <iframe src="http://ghbtns.com/github-btn.html?user=clabesse&type=follow&size=large"
                allowtransparency="true" frameborder="0" scrolling="0" width="181" height="30"></iframe>
						</div>
					</div>
				</fieldset>
				<br />
				<%= form_for @contact, remote: true, html: {class: 'form-horizontal'} do |f| %>
				  <fieldset>
				    <legend>Text</legend>
						<br />
							<div class="row">
								<div class="span8">
									<p>Feel free to drop me a quick line using the form below</p>
									<div class="alert alert-error" style="display: none">
										Both email address and message fields must be filled out.
									</div>
							    <div class="control-group">
							      <label class="control-label" for="input01">Name</label>
							      <div class="controls">
							        <%= f.text_field :name, class: 'span4', placeholder: "Your full name" %>
							      </div>
							    </div>
				          <div class="control-group">
				            <label class="control-label" for="prependedInput">Email Address</label>
				            <div class="controls">
				              <div class="input-prepend">
				                <span class="add-on"><i class="icon-envelope"></i></span>
							        <%= f.text_field :email, class: 'span3', placeholder: "me@domain.com", size: 16 %>
				              </div>
				            </div>
				          </div>
				          <div class="control-group">
				            <label class="control-label" for="prependedInput">Your Message</label>
				            <div class="controls">
							        <%= f.text_area :message, class: 'input-xlarge', rows: 6 %>
				            </div>
				          </div>
									<div class="form-actions">
				            <button type="submit" data-toggle="button" data-loading-text="Sending…" class="btn btn-primary">Send Message</button>
									</div>
								</div>
								<div class="span4">
									<div class="alert alert-info">
										<strong>Nothing against you!</strong>
										<p>I would love to give you a beautiful email link and stuff but my spam goes up!</p>
										<p>If you really need to get my email address, you can download my <%= link_to 'PDF Resume', '/Resume_Cyrille_LABESSE_EN.pdf' %> and find it on the left hand side.</p>
									</div>
								</div>
							</div>
				  </fieldset>
				<% end %>
			</section>
	  </div>
	</div>
