			<section id="work">
				<div class="page-header">
					<h1>Work <small>The result of tireless hours of work</small></h1>
				</div>
        <br />
    		<div class="row-fluid">
    		  <div class="span9">
    		    <a name="teaching"></a>
    			  <h3>Teaching and Mentoring</h3><br />
    				<p>
    					I provide 1-on-1 mentoring for Ruby on Rails learners of every level. I am available over <strong>Skype</strong> or direct <strong>face-to-face</strong> teaching, and go through practical ways of learning how to code on the framework from start to finish. We can work together on your project at your own pace, you decide the time we spend and when as I am very <strong>flexible</strong> schedule-wise. Teaching in Universities/IT Schools is also an option :)
    				</p>
    		  </div>
    		  <div class="span3">
    				<div class="well">
    					<h3>Project Details</h3><br />
    					<ul class="details">
    						<li><i class="icon-map-marker"></i> Berlin, Germany</li>
    						<li><i class="icon-play"></i> May '14</li>
    						<li><i class="icon-cog"></i> Ruby on Rails / JS / HTML</li>
    					</ul>
    				</div>
    			</div>
    		</div>
        <br /><hr />
    		<div class="row-fluid">
    		  <div class="span3">
    				<div class="well">
    					<h3>Project Details</h3><br />
    					<ul class="details">
    						<li><i class="icon-map-marker"></i> Berlin, Germany</li>
    						<li><i class="icon-play"></i> December '12</li>
    						<li><i class="icon-user"></i> Team of 2</li>
    						<li><i class="icon-search"></i> <%= link_to 'gigatools.com', 'http://gigatools.com/' %></li>
    						<li><i class="icon-cog"></i> Ruby on Rails 3.2</li>
    					</ul>
    				</div>
    			</div>
    		  <div class="span9">
    		    <a name="gigatools"></a>
    			  <h3>GigaTools</h3><br />
    				<p>
    					Gigatools is the ultimate promotional tool for artists, DJs, bands, labels &amp; agents to manage, promote and share their upcoming gig schedules online!
    				</p>
    		  </div>
    		</div>
    		<div class="page-header">
    			<h2>Past Projects</h2>
    		</div>
    		<div class="row-fluid">
    		  <div class="span9">
    			  <a name="blueboard"></a>
    			  <h3>Blueboard</h3><br />
    				<p>
    					Blueboard is a marketplace for local classes &amp; activities. It enables businesses to promote their classes online, schedule classes, handle instructors and much more. As a consumer, it is very easy to find a class or activity near you, get feedback and reviews, and sign up for it.
    				</p>
    		  </div>
    		  <div class="span3">
    				<div class="well">
    				  <h3>Project Details</h3><br />
    					<ul class="details">
    						<li><i class="icon-map-marker"></i> San Francisco, CA</li>
    						<li><i class="icon-play"></i> January '13</li>
    						<li><i class="icon-stop"></i> January '15</li>
    						<li><i class="icon-user"></i> Team of 4</li>
    						<li><i class="icon-search"></i> <%= link_to 'blueboard.co', 'http://blueboard.co/' %></li>
    						<li><i class="icon-cog"></i> Ruby on Rails 3.2</li>
    					</ul>
    				</div>
    			</div>
    		</div>
    		<hr /><br />
    		
    		<div class="row-fluid">
    		  <div class="span3">
    				<div class="well">
    					<h3>Project Details</h3><br />
    					<ul class="details">
    						<li><i class="icon-map-marker"></i> Bowling Green, KY</li>
    						<li><i class="icon-play"></i> December '12</li>
    						<li><i class="icon-stop"></i> May '13</li>
    						<li><i class="icon-user"></i> 3 developers</li>
    						<li><i class="icon-search"></i> <%= link_to 'eezyinc.com', 'http://eezyinc.com/' %></li>
    						<li><i class="icon-cog"></i> Ruby on Rails 3.2</li>
    					</ul>
    				</div>
    			</div>
    		  <div class="span9">
    			  <a name="eezyinc"></a>
    			  <h3>Eezy</h3><br />
    				<p>
    					In late 2006, <b>Shawn</b> had a problem: as a graphic designer, he was looking for a few good Photoshop brushes and Photoshop patterns to extend one of his designs. After trying to find a website where he could quickly and easily find and download brushes, he was disappointed by the lack of options – everything was either ugly and hard to use, only focused on selling content, or only had a very limited selection available. So he decided to build his own personal index of free Photoshop brushes, and thus Brusheezy was born.</p>
              <p>After a few months, it was clear that the demand had outgrown the abilities of the initial prototype, and so Shawn collaborated with <b>Kennon</b> to build a cleaner and more feature-rich version that could also handle the increased load. Since then the community has grown in leaps and bounds, gaining hundreds of new artists and thousands of brushes.</p>
              <p>In 2010, <b>Jonathan</b> and <b>Erin</b> joined the team to help set in motion the new version of Brusheezy that would extend the site to other Photoshop-related resources and would focus on bringing the community together.
    				</p>
    		  </div>
    		</div>
    		<hr /><br />
		<div class="row-fluid">
		  <div class="span9">
			  <a name="traffic"></a>
			  <h3>Traffic</h3><br />
				<p>
					Traffic has been put together to explore the capabilities of real life footage, live streaming and mobile broadcasting.<br /><br />
					More information coming soon!
				</p>
		  </div>
		  <div class="span3">
				<div class="well">
					<h3>Project Details</h3><br />
					<ul class="details">
						<li><i class="icon-map-marker"></i> Paris, France</li>
						<li><i class="icon-play"></i> October '12</li>
						<li><i class="icon-stop"></i> April '13</li>
						<li><i class="icon-user"></i> Team of 4</li>
						<li><i class="icon-search"></i> <%= link_to 'trafficproject.tv', 'http://trafficproject.tv/' %></li>
						<li><i class="icon-cog"></i> Ruby on Rails 3.2</li>
					</ul>
				</div>
			</div>
		</div>
		<hr /><br />
		<div class="row-fluid">
		  <div class="span3">
				<div class="well">
					<h3>Project Details</h3><br />
					<ul class="details">
						<li><i class="icon-map-marker"></i> New York, NY</li>
						<li><i class="icon-play"></i> April '12</li>
						<li><i class="icon-stop"></i> November '12</li>
						<li><i class="icon-user"></i> 8 developers</li>
						<li><i class="icon-search"></i> <%= link_to 'spongecell.com', 'http://spongecell.com/' %></li>
						<li><i class="icon-cog"></i> Ruby on Rails 3.2</li>
					</ul>
				</div>
			</div>
		  <div class="span9">
			  <a name="spongecell"></a>
			  <h3>Spongecell</h3><br />
				<p>
					Spongecell is a creative technology company that makes it easy to enhance standard banner ads with rich interactive features—video, interactive mapping, carousels, social media and more! They bring speed and scale to the interactive display space to increase consumer engagement and drive more qualified site traffic for your campaigns.
				</p>
		  </div>
		</div>
		<hr /><br />
		<div class="row-fluid">
		  <div class="span9">
			  <a name="goalbook"></a>
			  <h3>Goalbook</h3><br />
				<p>
					Goalbook helps teams of educators, students, and parents collaborate around personal learning plans.
				</p>
				<p>Goalbook helps special educators track IEP goals and share progress with the team. Administrators view reports in real-time to ensure that all student receive educational benefit.</p>
				<p>Group students into tiers and set individual student goals. Intervention teams can collaboratively record progress and evaluate effectiveness of interventions.</p>
				<p>Set online learning goals for students and track progress. Educators know what students are working on in lab and can celebrate accomplishments or review areas of difficulty.</p>
				<p>Give every student ownership of their own personal learning plan. Students can develop their own goals, self-track progress, and collaborate with their teachers and parents every step along the way.</p>
		  </div>
		  <div class="span3">
				<div class="well">
					<h3>Project Details</h3><br />
					<ul class="details">
						<li><i class="icon-map-marker"></i> Palo Alto, CA</li>
						<li><i class="icon-play"></i> March '12</li>
						<li><i class="icon-stop"></i> April '12</li>
						<li><i class="icon-user"></i> Myself</li>
						<li><i class="icon-search"></i> <%= link_to 'goalbookapp.com', 'http://goalbookapp.com/' %></li>
						<li><i class="icon-cog"></i> Ruby on Rails 3.2</li>
					</ul>
				</div>
			</div>
		</div>
		<hr /><br />
		<div class="row-fluid">
		  <div class="span3">
				<div class="well">
					<h3>Project Details</h3><br />
					<ul class="details">
						<li><i class="icon-map-marker"></i> Geneva, Switzerland</li>
						<li><i class="icon-play"></i> June '09</li>
						<li><i class="icon-stop"></i> March '12</li>
						<li><i class="icon-user"></i> 3 Developers</li>
						<li><i class="icon-search"></i> <%= link_to 'peakasso.com', 'http://peakasso.com/' %></li>
						<li><i class="icon-cog"></i> Ruby on Rails</li>
					</ul>
				</div>
			</div>
		  <div class="span9">
			  <a name="peakasso"></a>
			  <h3>Peakasso</h3>
				<br />
				<p>
					Peakasso is an easy-to-use interface for handling your NGO. Developed in 2009, Peakasso is helping NGOs from all over the world to easily manage their members, handle monthly or yearly dues, send group emails, etc… Peakasso offers different plans depending on the size of the NGO, one of them being free.
				</p>
				<ul class="thumbnails pull-right">
				<li><%= image_tag 'http://farm6.static.flickr.com/5296/5550587050_d8b1297d8f_s.jpg' %></li>
				<li><%= image_tag 'http://farm6.static.flickr.com/5028/5550587168_e84f576746_s.jpg' %></li>
				</ul>
		  </div>
		</div>
		<hr /><br />
		<div class="row-fluid">
		  <div class="span9">
			  <a name="wearetwl"></a>
			  <h3>We are TWL</h3>
			  <br />
				<p>
				Founded in January 2010 by Nick Quine &amp; Tristan David, TWL aims to promote up and coming artists. Nick and Tristan needed a platform to easily distribute the work of artists, all the while conserving their very sober black and white approach.<br />
				I came up with a simple platform including an easy-to-use backend to handle orders, products, different artists and pieces.<br />
				All TWL's digital prints are printed on high quality digital paper. Film prints are hand printed by the artists on high grade fiber paper rich in silver halides. Every print meets archival standards; lasting up to 100 years if conserved properly.
				</p>
				<ul class="thumbnails">
				<li><%= image_tag 'http://farm5.static.flickr.com/4139/5442652393_97bf08b8dd_t.jpg' %></li>
				<li><%= image_tag 'http://farm6.static.flickr.com/5133/5443256178_e8babef3db_t.jpg' %></li>
				<li><%= image_tag 'http://farm6.static.flickr.com/5177/5442652567_13ca03076c_t.jpg' %></li>
				<li><%= image_tag 'http://farm5.static.flickr.com/4094/5442652443_08906a6db6_t.jpg' %></li>
				</ul>
		  </div>
		  <div class="span3">
				<div class="well">
					<h3>Project Details</h3><br />
					<ul class="details">
						<li><i class="icon-map-marker"></i> Paris, France</li>
						<li><i class="icon-play"></i> December '10</li>
						<li><i class="icon-stop"></i> December '11</li>
						<li><i class="icon-user"></i> Myself</li>
						<li><i class="icon-picture"></i> <%= link_to 'Screenshots', 'http://www.flickr.com/photos/clabesse/sets/72157625917288751/' %></li>
						<li><i class="icon-cog"></i> Ruby on Rails 3</li>
					</ul>
				</div>
			</div>
		</div>
		<hr /><br />
		<div class="row-fluid">
		  <div class="span3">
				<div class="well">
					<h3>Project Details</h3><br />
					<ul class="details">
						<li><i class="icon-map-marker"></i> Zürich, Switzerland</li>
						<li><i class="icon-play"></i> April '11</li>
						<li><i class="icon-stop"></i> March '12</li>
						<li><i class="icon-user"></i> 2 Developers</li>
						<li><i class="icon-search"></i> <%= link_to 'paatle.com', 'http://paatle.com/' %></li>
						<li><i class="icon-cog"></i> Ruby on Rails 3</li>
					</ul>
				</div>
			</div>
		  <div class="span9">
			  <a name="paatle"></a>
			  <h3>Paatle</h3><br />
				<p>
					Paatle is the world’s first web platform that enables you to list, manage, and trade real estate globally. Paatle equips users with sophisticated tools to help you expand your real estate reach and enhance your online presence.
					No matter where you live, Paatle will be your ticket to connecting your properties to real estate markets around the globe!
				</p>
		  </div>
		</div>
		<hr /><br />
		<div class="row-fluid">
		  <div class="span9">
			  <a name="exact"></a>
			  <h3>E-xact Transactions</h3><br />
				<p>
					E-xact Transactions has been delivering on merchant satisfaction for over 10 years – and they’re not done yet. Where there’s a need for fast, protected transaction processing and easy answers they make it happen. Their range of products offer an easy integration of a complete payment solution to your merchant website.
				</p>
				<ul class="thumbnails">
				<li><%= image_tag 'http://farm6.static.flickr.com/5294/5443256108_d11df61845_t.jpg' %></li>
				<li><%= image_tag 'http://farm5.static.flickr.com/4102/5443256040_f53b4fb979_t.jpg' %></li>
				</ul>
		  </div>
		  <div class="span3">
				<div class="well">
					<h3>Project Details</h3><br />
					<ul class="details">
						<li><i class="icon-map-marker"></i> Vancouver, BC</li>
						<li><i class="icon-play"></i> October '09</li>
						<li><i class="icon-stop"></i> March '11</li>
						<li><i class="icon-user"></i> 5 Developers</li>
						<li><i class="icon-search"></i> <%= link_to 'e-xact.com', 'http://www.e-xact.com/' %></li>
						<li><i class="icon-picture"></i> <%= link_to 'Screenshots', 'http://www.flickr.com/photos/clabesse/sets/72157625917290609/' %></li>
						<li><i class="icon-cog"></i> Ruby on Rails 2.2</li>
					</ul>
				</div>
			</div>
		</div>
		<hr /><br />
		<div class="row-fluid">
		  <div class="span3">
				<div class="well">
					<h3>Project Details</h3><br />
					<ul class="details">
						<li><i class="icon-map-marker"></i> Vancouver, BC</li>
						<li><i class="icon-play"></i> December '09</li>
						<li><i class="icon-stop"></i> March '11</li>
						<li><i class="icon-user"></i> 2 Developers</li>
						<li><i class="icon-search"></i> <%= link_to 'hostedcheckout.com', 'http://www.hostecheckout.com/' %></li>
						<li><i class="icon-search"></i> <%= link_to 'AppStore', 'http://itunes.apple.com/app/hosted-checkout-mobile/id368991646?mt=8' %></li>
						<li><i class="icon-picture"></i> <%= link_to 'Screenshots', 'http://www.flickr.com/photos/clabesse/sets/72157626042696492/' %></li>
						<li><i class="icon-cog"></i> Ruby on Rails</li>
					</ul>
				</div>
			</div>
		  <div class="span9">
			  <a name="hco"></a>
			  <h3>HCO Mobile</h3><br />
				<p>
					HCO Mobile is an iOS application that acts as a virtual point-of-sale. Using an optional card swiper, or simply by entering the cardholder information manually, credit card transactions are processed through the E-xact gateway. The demo mode makes it easy to get a quick hold of how convenient HCO Mobile is to use.
				</p>
				<ul class="thumbnails pull-right">
					<li><%= image_tag 'http://farm6.static.flickr.com/5253/5443256454_c645b36ecb_t.jpg' %></li>
					<li><%= image_tag 'http://farm6.static.flickr.com/5253/5443256454_c645b36ecb_t.jpg' %></li>
					<li><%= image_tag 'http://farm6.static.flickr.com/5016/5442652895_a8bb5123c6_t.jpg' %></li>
				</ul>				
		  </div>
		</div>
		<hr /><br />
		<div class="row-fluid">
		  <div class="span9">
			  <a name="spidart"></a>
			  <h3>Spidart</h3><br />
				<p>
					Similar to <%= link_to 'Sellaband', 'http://sellaband.com/' %>, Spidart were the first to create an online community-driven music label. The goal was to remove the unnecessary expenses that a record company goes through, and therefore distribute the revenues on each album between Spidart, the artist and the fan-producers. I was asked to lead the development of the second version of the website. I was able to go from dealing with hosting companies, to creating Photoshop sprites. This project included a vast number of technologies including Nginx, Memcache, Passenger, Sphinx indexing system, Ruby on Rails, AS3/Flash, XML APIs… Unfortunately, after 2 years of existence, Spidart declared bankruptcy due to the lack of funding and strategy mistakes. The second version of Spidart, complete at the time, was never released.
				</p>
				<ul class="thumbnails">
				<li><%= image_tag 'http://farm6.static.flickr.com/5081/5376526050_37059bf05f_t.jpg' %></li>
				<li><%= image_tag 'http://farm6.static.flickr.com/5010/5376526140_bb37bc7c84_t.jpg' %></li>
				<li><%= image_tag 'http://farm6.static.flickr.com/5163/5376526188_f3db97f66d_t.jpg' %></li>
				</ul>
		  </div>
		  <div class="span3">
				<div class="well">
					<h3>Project Details</h3><br />
					<ul class="details">
						<li><i class="icon-map-marker"></i> Lyon, France</li>
						<li><i class="icon-play"></i> April '08</li>
						<li><i class="icon-stop"></i> July '09</li>
						<li><i class="icon-user"></i> 3 Developers</li>
						<li><i class="icon-picture"></i> <%= link_to 'Screenshots', 'http://www.flickr.com/photos/clabesse/sets/72157625751087819/' %></li>
						<li><i class="icon-cog"></i> Ruby on Rails 2</li>
					</ul>
				</div>
			</div>
		</div>
		<hr /><br />
		<div class="row-fluid">
		  <div class="span3">
				<div class="well">
					<h3>Project Details</h3><br />
					<ul class="details">
						<li><i class="icon-map-marker"></i> Paris, France</li>
						<li><i class="icon-play"></i> June '07</li>
						<li><i class="icon-stop"></i> July '07</li>
						<li><i class="icon-user"></i> Myself</li>
						<li><i class="icon-search"></i> <%= link_to 'teleobs.com', 'http://www.teleobs.com/' %></li>
						<li><i class="icon-picture"></i> <%= link_to 'Screenshots', 'http://www.flickr.com/photos/clabesse/sets/72157625917002795/' %></li>
						<li><i class="icon-cog"></i> Ruby on Rails</li>
					</ul>
				</div>
			</div>
		  <div class="span9">
			  <a name="teleobs"></a>
			  <h3>TéléObs</h3><br />
				<p>
					"Le Nouvel Observateur" is a famous french weekly newsmagazine, TéléObs being a branch of the magazine entirely dedicated to french television and its scheduling. TéléObs needed a Content Managment System to publish articles related to television, an entire backend, including user management, post categories, and other integrations. Today, TéléObs serves thousands of users a day, providing them with the latest gossip and inside views of the TV and News industry. This CMS was built using the Ruby on Rails framework, a MySQL database and hosted on a UNIX system.
				</p>
				<ul class="thumbnails pull-right">
				<li><%= image_tag 'http://farm6.static.flickr.com/5296/5443154102_c72d6a67c0_t.jpg' %></li>
				<li><%= image_tag 'http://farm6.static.flickr.com/5293/5442550351_c1fc7f20e9_t.jpg' %></li>
				<li><%= image_tag 'http://farm6.static.flickr.com/5135/5443153974_f59bb6b3d7_t.jpg' %></li>
				</ul>
		  </div>
		</div>
</section>