<!DOCTYPE html>
<html>
<head>
  <title>California</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
</head>
<body>
<a name="top"></a>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
			<a class="brand" id="title">Cyrille Labesse</a>
			<ul class="nav">
			  <li class="active">
					<%= link_to 'Home', root_path %>
			  </li>
			  <li><a data-smooth="true" href="#skills">Skills</a></li>
			  <li class="dropdown" id="dropdown-projects">
			    <a href="#dropdown-projects"
			          class="dropdown-toggle"
			          data-toggle="dropdown">
			          Projects
			          <b class="caret"></b>
			    </a>
			    <ul class="dropdown-menu">
						<li class="nav-header">Current</li>
				    <li><a href="#goalbook">Goalbook</a></li>
				    <li><a href="#wearetwl">We Are TWL</a></li>
				    <li><a href="#peakasso">Peakasso</a></li>
						<li class="divider"></li>
						<li class="nav-header">Past</li>
				    <li><a href="#paatle">Paatle</a></li>
				    <li><a href="#exact">E-xact</a></li>
				    <li><a href="#hco">HCO Mobile</a></li>
				    <li><a href="#spidart">Spidart</a></li>
				    <li><a href="#teleobs">TéléObs</a></li>
			    </ul>
			  </li>
			  <li><a data-smooth="true" href="#contact">Contact</a></li>
			</ul>
			
			<ul class="nav pull-right">
			  <li class="dropdown" id="dropdown-resume">
			    <a href="#dropdown-resume"
			          class="dropdown-toggle"
			          data-toggle="dropdown">
			          My Resume
			          <b class="caret"></b>
			    </a>
			    <ul class="dropdown-menu">
            <li><%= link_to raw('<i class="icon-linkedin"></i> LinkedIn Profile'), 'http://ca.linkedin.com/in/clabesse' %></li>
            <li><%= link_to raw('<i class="icon-download"></i> Download PDF Resume'), '/Resume_Cyrille_LABESSE.pdf' %></li>
			    </ul>
			  </li>
			</ul>
    </div>
  </div>
</div>
<div class="container">
	<%= yield %>
	<hr />
	<footer>
		<div class="breadcrumb">
			<%= link_to 'Back to top', '#top' %> · &copy; Cyrille Labesse <%= Time.now.year %>	
		</div>
	</footer>
</div>
</body>
</html>
