<!DOCTYPE html>
<html>
<head>
  <title>Cyrille Labesse – Ruby on Rails Expert</title>
  <%= stylesheet_link_tag    "application", :media => "all" %>
  <%= javascript_include_tag "application" %>
  <%= csrf_meta_tags %>
<script type="text/javascript">

  var _gaq = _gaq || [];
  _gaq.push(['_setAccount', 'UA-20907747-1']);
  _gaq.push(['_trackPageview']);

  (function() {
    var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
    ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
    var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
  })();

</script></head>
<body>
<a name="top"></a>
<div class="navbar">
  <div class="navbar-inner">
    <div class="container">
			<a class="brand" id="title">Cyrille Labesse</a>
			<ul class="nav">
			  <li<%= raw ' class="active"' if params[:action] == 'index' %>>
					<%= link_to 'About', root_path %>
			  </li>
			  <li class="dropdown<%= raw ' active' if params[:action] == 'work' %>" id="dropdown-projects">
			    <a href="#dropdown-projects"
			          class="dropdown-toggle"
			          data-toggle="dropdown">
			          Work
			          <b class="caret"></b>
			    </a>
			    <ul class="dropdown-menu">
				    <li><a href="/work">See All Projects</a></li>
					<li class="divider"></li>
					<li class="nav-header">Current</li>
  			    <li><a href="/work#traffic">Traffic</a></li>
  			    <li><a href="/work#wesawit">Wesawit</a></li>
					<li class="divider"></li>
					<li class="nav-header">Past</li>
			      <li><a href="/work#spongecell">Spongecell</a></li>
				    <li><a href="/work#goalbook">Goalbook</a></li>
				    <li><a href="/work#wearetwl">We Are TWL</a></li>
				    <li><a href="/work#peakasso">Peakasso</a></li>
				    <li><a href="/work#paatle">Paatle</a></li>
				    <li><a href="/work#exact">E-xact</a></li>
				    <li><a href="/work#hco">HCO Mobile</a></li>
				    <li><a href="/work#spidart">Spidart</a></li>
				    <li><a href="/work#teleobs">TéléObs</a></li>
					<li class="divider"></li>
					<li class="nav-header">Resume</li>
					<li><%= link_to raw('<i class="icon-linkedin"></i> LinkedIn Profile'), 'http://ca.linkedin.com/in/clabesse' %></li>
					<li><%= link_to raw('<i class="icon-download"></i> Download PDF Resume'), '/Resume_Cyrille_LABESSE_EN.pdf' %></li>
			    </ul>
			  </li>
			  <li><a href="/#contact">Contact</a></li>
			</ul>
    </div>
  </div>
</div>
<div class="container">
	<%= yield %>
	<footer>
		<div class="breadcrumb">
			<%= link_to 'Back to top', '#top' %> · Cyrille Labesse <%= Time.now.year %>	
		</div>
	</footer>
</div>
</body>
</html>
